* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

.github,
.linkedin,
.twitter,
.externallink,
.phone{
  width: 1em;
}

#projectGrid{
  display: grid;
  grid-template-cols: repeat(1fr, 3);
  gap: 1em;
}

.project{
  width: 20em;
}

footer{
  background-color: rgb(8, 145, 178);
}

footer div p{
  color: white;
}