* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

.github,
.linkedin,
.twitter{
  width: 1em;
}

footer{
  background-color: rgb(8, 145, 178);
}

footer div p{
  color: white;
}